<div class="container">
  <h1></h1>
  <%= simple_form_for [@list, @bookmark] do |f| %>
    <%= f.input :comment %>
    <%= f.association :movie  %>
    <%= f.submit 'add bookmark', class: 'btn btn-danger mt-2' %>
  <% end %>
</div>
